.fct a{float:left;margin-left:8px;}.fa_fav_0,.fa_fav,.fa_rss,.fa_achv,.fa_bin,.fa_ivt{padding-left:20px;background:no-repeat 0 50%;}.fa_fav_0{background-image:url(/static/images/fav_grey.gif);}.fa_fav{background-image:url(/static/images/fav.gif);}.fa_rss{background-image:url(/static/images/feed.gif);}.fa_achv{background-image:url(/static/images/clock.gif);}.fa_bin{background-image:url(/static/images/recyclebin.gif);}.fa_ivt{background-image:url(../../static/images/user_add.gif);}#fh{width:644px;}.mw #fh{width:100%;}#fh .bm{padding-top:5px;padding-bottom:0;}#nv_group #fh{margin-bottom:1em;}#fh #gh{padding-top:10px;}#fh .h{margin-top:10px;}#fh .h *{float:left;}#fh h1{margin-right:10px;font-size:16px;}#fh .h .y{float:right;}#fh .o a{float:left;margin-right:10px;}#fh.m{padding-top:0;background-color:#F2F2F2;}.xst{font-family:Tahoma,Helvetica,'SimSun',sans-serif;font-size:14px;}.ttp{margin-bottom:5px;padding-top:10px;border-width:2px 0 0;background:transparent;}.ttp li{float:left;padding-bottom:5px;}.ttp a,.ttp strong{float:left;margin-right:5px;padding:4px 8px 3px;height:18px;border:1px solid #D7E2EE;background:#FFF;white-space:nowrap;}.ttp a:hover{border-color:#369;color:#369;text-decoration:none;}.ttp .a a{padding-right:12px;padding-left:12px;border-color:#369;background:#C2D5E3;color:#369;}.ttp .pipe{float:left;margin-right:10px;padding:0;width:2px;height:27px;background:#C2D5E3;text-indent:-9999px;}.cttp{overflow:hidden;padding-right:35px;height:32px;}.cttp .unfold,.cttp .fold{float:right;display:inline;margin:5px -35px 9px 0;padding:0 0 0 10px;width:25px;height:18px;background-color:transparent;color:#369;font-weight:400;}.tl .bm_c{padding-top:0;}.tl table{width:100%;table-layout:fixed;border-collapse:separate;}.tl th,.tl td{padding:5px 0;border-bottom:1px solid #C2D5E3;}.emptb th,.emptb td{padding:0;border-bottom:none;}.tl tr:hover th,.tl th{padding-right:1.5em;zoom:1;}.tl th a:visited{color:#666;}.fromg{visibility:hidden;}.ie6 .fromg,tr:hover .fromg{visibility:visible;}.tl .icn{padding-left:5px;width:25px;text-align:left;}.tl .new{}.tl .comm{}.tl .frm{width:150px;}.tl .o{width:20px;}/*.tl .num{width:60px;line-height:14px;}*/.tl .by{width:105px;line-height:14px;}.tl cite,.tl .num em{display:block;}.tl th em{margin-right:4px;zoom:1;}.tl th em,.tl th em a{color:#007CD5;}.tl td em{font-size:11px;font-family:Arial,Psimsun,sans-serif;-webkit-text-size-adjust:none;}.tl td em,.tl td em a{color:#999;}.tl .ts th,.tl .ts td{padding:3px 0;border-bottom-color:#D7E2EE;background:#F2F2F2;}.tl .th{margin-top:1px;padding:0 10px;border-bottom:1px solid #D7E2EE;background:url(/static/images/titlebg2.jpg)}.tl .th table{border:none;}.tl .th td,.tl .th th{height:20px;border:none;vertical-align:baseline;}.tl .tf{padding:3px 0;}.tf .showmenu:hover{border-color:#C2D5E3;}.recy{text-decoration:line-through;}.tps{white-space:nowrap;}.tps a{padding:2px 4px;color:#444;}.mfm .mtm{margin-right:10px;}.mfm span{height:26px;white-space:nowrap;}a{color:#369;}body{background:#FFF none !important;}#toptb{padding:0 15px;border-bottom:1px solid #EFEFEF;}#ct{margin:0 20px;}#scform{margin:10px 0;}#scform h1{margin-right:20px;}#scform_tb a{float:left;display:inline;margin:0 15px 0 3px;height:26px;line-height:26px;}#scform_tb .y a{margin:0 3px 0 15px;}#scform_tb .a{background:url(/static/images/searchbar.png) no-repeat 50% 100%;color:#333;font-weight:700;}#scform_form{background:url(/static/images/searchbar.png) repeat-x 0 0;}.td_srchtxt{background:url(/static/images/searchbar.png) no-repeat 0 -35px;}.td_srchbtn{background:url(/static/images/searchbar.png) no-repeat 0 -70px;}#scform_srchtxt{padding:0 10px;width:460px;background:transparent;outline:none;}#scform_submit{width:107px;opacity:0;filter:alpha(opacity=0);cursor:pointer;}#scform_srchtxt,#scform_submit{height:35px;border:none;line-height:35px;}.ie6 #scform_srchtxt,.ie6 #scform_submit,.ie7 #scform_srchtxt,.ie7 #scform_submit{height:33px;border:none;line-height:33px;}.sttl{margin:10px 0;padding:5px;border-bottom:1px solid #CCC;background:#F5F5F5;}.slst{width:760px;}.slst a{color:#00C;text-decoration:underline;font-weight:400;}.slst a:visited{color:purple;}.slst a strong{font-weight:400;}.slst p span{color:#3A8000;}.slst p span a,.slst p span a:visited{color:#666;}.pbw strong{font-weight:400;}.pbw p{color:#000;}.p_pop span{display:none;}#ft{margin:20px;text-align:center;}.pg{float:none;}#myspace_menu li a,#navs_menu li a{background-repeat:no-repeat;background-position:-200px 0;}
.w{  padding: 0 15px;}
.h_pop{position:absolute;}
.c-gap-top-small { margin-top: 5px;}
        .general_image_pic{  float: left; _display: inline;margin-right: 17px;list-style: none;}
        .general_image_pic a {background: #fff no-repeat center center;text-decoration: none;display: block;overflow: hidden;text-align: left;}
        .c-img {display: block; min-height: 1px;border: none 0;}
#tags{border: 1px solid #ccc;  border-radius: 4px;padding: 0px 5px;display: inline-block; text-decoration:none;}
/*20150904*/
#rs {
  padding: 0;
  margin: 6px 0 35px 0px;
  width: 600px;
}
#rs .tt {
  padding: 0;
  line-height: 30px;
}
#rs .tt {
  font-weight: bold;
  padding: 0 10px 0 0px;
  font-size: 16px;
}
#rs table {
  width: 540px;
}
#rs th {
  width: 150px;
  line-height: 22px;
  border:none;
}
#rs th {
  font-size: 14px;
  font-weight: normal;
  line-height: 19px;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
}
#rs td {
  width: 5px;
   border:none;
}
#rs td {
  width: 5%;
}
#rs a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
td {
  font-size: 9pt;
  line-height: 18px;
}
table, img {
  border: 0;
}
user agent stylesheettable {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.nors p em {
  color: #c00;
}
.nors p {
  font-size: 18px;
  font-family: microsoft yahei;
  color: #000;
}
.nors .tip_head {
  color: #666;
  font-size: 13px;
  line-height: 28px;
}
.nors li {
  color: #333;
  line-height: 28px;
  font-size: 13px;
  font-family: 'ו';
  padding-left: 30px;
  list-style-position: inside;
  list-style-type: disc;
}
.nors li {
  color: #333;
  line-height: 28px;
  font-size: 13px;
  font-family: 'ו';
  padding-left: 30px;
  list-style-position: inside;
  list-style-type: disc;
}

.s_ipt_wr {
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 539px;
    margin-right: -5px;
    border-right-width: 0;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
    overflow: hidden;
    height: 32px;
    border: 1px solid #b6b6b6;
}
.s_ipt {
    width: 526px;
    height: 22px;
    font: 16px/18px arial;
    line-height: 22px;
    margin: 6px 0 0 7px;
    padding: 0;
    background: transparent;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
}
.s_btn_wr {
    width: 97px;
    height: 34px;
    display: inline-block;
    background-position: -120px -48px;
    z-index: 0;
    vertical-align: top;
}
.s_btn {
    width: 100px;
    height: 34px;
    color: white;
    letter-spacing: 1px;
    background: #d7392e;
    border-bottom: 1px solid #d7392e;
    outline: medium;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
    cursor: pointer;
        font-size: 14px;
    padding: 0;
}