<?xml version="1.0" encoding="utf-8"?>
<!--网站设置-->
<appSettings>
  <!--数据库类型-->
  <add key="dbType" value="SqlServer" />
  <!--表前辍-->
  <add key="TablePrefix" value="euc_" />
  <!--网站前台模板目录-->
  <add key="WebSkinPath" value="/skin/euc/" />
  <!--手机网站前台模板目录（建立在网站模板目录之下）-->
  <add key="WapSkinPath" value="/mobile/slasher/" />
  <!--网站前台模板后缀-->
  <add key="WebSkinSuffix" value=".html" />
  <!--网站后台模板目录-->
  <add key="AdminSkinPath" value="/@@euc/tlp/" />
  <!--网站后台UI目录-->
  <add key="AdminUIPath" value="/include/Hplus/" />
  <!--cookie保存域-->
  <add key="CookieDomain" value="" />
  <!--cnzz-oem-cms-->
  <add key="OemCms" value="ctmon" />
  <!--本地版本文件-->
  <add key="update_client" value="/update_client.xml" />
  <!--临时文件夹-->
  <add key="upd_forder" value="/log/update/" />
  <!--插件地址-->
  <add key="pluginPath" value="/admin/plugins/" />
  <!--平台请求地址-->
  <add key="WeixinAgentUrl" value="http://www.weiweihi.com/App/Weixin/18718" />
  <!--平台token-->
  <add key="WeixinAgentToken" value="8B78F3D8EF124F90" />
  <!--SouideaKey专门用于对接www.souidea.com平台-->
  <add key="WeixinAgentSouideaKey" value="Gfj4FyYVleH9At5SGxt5/NRNMptf5iZw" />
  <!--语言包路径-->
  <add key="Language" value="/config/language.config" />
  <!--后台皮肤配置-->
  <add key="AdminSkin" value="" />
  <!--paypal支付接口参数 暂放-->
  <add key="BusinessEmail" value="mymail@mail.com" />
  <add key="CancelPurchaseUrl" value="http://YOUR_IP/paypal/default.aspx" />
  <add key="ReturnUrl" value="http://YOUR_IP/paypal/payment_success.aspx" />
  <add key="NotifyUrl" value="http://YOUR_IP/paypal/IPNHandler.aspx" />
  <add key="CurrencyCode" value="USD" />
  <add key="UseSandbox" value="true" />
  <add key="SendToReturnURL" value="false" />
  <!--站点授权key，多个域名请半角逗号隔开-->
  <add key="SoftReg" value="+XyrjCbc57vXugG76UNPoA==,yJBOwumsB1CCJG8kMRJTcg==" />
  <!--站内链接配置路径-->
  <add key="UrlRewrite" value="/config/urlrewrite.config" />
</appSettings>