<?xml version="1.0" standalone="yes"?>
<cachetableremove>
  <table1 xpath="example" removedatetime="2007-1-9 17:36:23" />
  <table1 xpath="/DY/System/Config" removedatetime="2016/10/18 12:09:33" />
  <table1 xpath="/DY/Web/Foot/Nav" removedatetime="2016/10/18 12:09:33" />
  <table1 xpath="/DY/Web/Goods/Cat" removedatetime="2010-4-30 17:40:47" />
  <table1 xpath="/DY/Web/Nav" removedatetime="2016/10/18 12:09:33" />
  <table1 xpath="/DY/Web/Goods/Information/Cat" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Goods/Best/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Goods/Best/7/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Goods/Hot/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Goods/New/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/CMS/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/CMS/Best/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/CMS/Top/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Friend/Link/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Ads/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Goods/Cat1" removedatetime="2015/6/24 9:59:51" />
  <table1 xpath="/DY/Web/Information/Cat" removedatetime="2015/7/4 13:20:57" />
  <table1 xpath="/DY/Web/Download/Top/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/Download/t" removedatetime="2010-3-9 下午 12:49:07" />
  <table1 xpath="/DY/Web/InternalLink/List" removedatetime="2012-1-6 14:30:41" />
</cachetableremove>