<?xml version="1.0"?>
<BaseDataInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Dbconnectstring>Data Source=120.77.8.162;User ID=eyouc;Password=W8f4s4Y4;Initial Catalog=eyouc;Pooling=true</Dbconnectstring>
  <Tableprefix>euc_</Tableprefix>
  <Forumpath>/</Forumpath>
  <Dbtype>SqlServer</Dbtype>
</BaseDataInfo>