<?xml version="1.0" encoding="utf-8"?>
<dataset>
  <payment>
    <code>alipay</code>
    <name>支付宝</name>
    <des>阿里巴巴旗下提供的网上支付服务</des>
    <is_cod>false</is_cod>
    <is_online>true</is_online>
    <website>http://www.alipay.com/</website>
    <config>支付宝帐号,密钥,合作号</config>
  </payment>
  <payment>
    <code>chinabank</code>
    <name>网银</name>
    <des>网银在线网关支付，性价比高、适用面广，后期维护简单方便，手续费包量，其它费用全免！</des>
    <is_cod>false</is_cod>
    <is_online>true</is_online>
    <website>http://www.chinabank.com.cn/index/index.shtml</website>
    <config>商户号,密钥</config>
  </payment>
  <payment>
    <code>tenpay</code>
    <name>财付通</name>
    <des>财付通（www.tenpay.com） - 腾讯旗下在线支付平台，通过国家权威安全认证，支持各大银行网上支付，免支付手续费。！</des>
    <is_cod>false</is_cod>
    <is_online>true</is_online>
    <website>https://www.tenpay.com/</website>
    <config>财付通商户号,财付通密钥</config>
  </payment>
  <payment>
    <code>kuaiqian</code>
    <name>快钱</name>
    <des>快钱是国内领先的独立第三方支付企业，旨在为各类企业及个人提供安全、便捷和保密的综合电子支付服务。</des>
    <is_cod>false</is_cod>
    <is_online>true</is_online>
    <website>https://www.99bill.com/</website>
    <config>账号(MerchantAcctID),密钥</config>
  </payment>
  <payment>
    <code>bank</code>
    <name>银行转帐汇款</name>
    <des></des>
    <is_cod>false</is_cod>
    <is_online>false</is_online>
    <website></website>
    <config>帐户信息</config>
  </payment>
  <payment>
    <code>topay</code>
    <name>货到付款</name>
    <des></des>
    <is_cod>false</is_cod>
    <is_online>false</is_online>
    <website></website>
    <config>货到付款</config>
  </payment>
  <payment>
    <code>wxtenpay</code>
    <name>微信支付</name>
    <des>微信支付</des>
    <is_cod>false</is_cod>
    <is_online>true</is_online>
    <website>https://pay.weixin.qq.com/index.php/home/login?return_url=%2F</website>
    <config>密钥,AppId,AppKey</config>
  </payment>
</dataset>