<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="更新站点地图" time_of_day="-1" minutes="2800" type="DY.Event.更新站点地图,DY.Event" enabled="true" is_system_event="true" />
    <Event key="删除蜘蛛记录" time_of_day="10" minutes="1" type="DY.Event.删除蜘蛛记录,DY.Event" enabled="true" is_system_event="true" />
    <Event key="重启IIS进程" time_of_day="-1" minutes="500" type="DY.Event.重启IIS进程,DY.Event" enabled="false" is_system_event="true" />
    <Event key="删除邮件留言垃圾信息" time_of_day="-1" minutes="600" type="DY.Event.删除邮件留言垃圾信息,DY.Event" enabled="true" is_system_event="true" />
    <Event key="备份数据库" time_of_day="180" minutes="1" type="DY.Event.备份数据库,DY.Event" enabled="true" is_system_event="true" />
    <Event key="更新搜索查看次数" time_of_day="-1" minutes="120" type="DY.Event.更新搜索查看次数,DY.Event" enabled="true" is_system_event="true" />
    <Event key="更新自定义错误页" time_of_day="-1" minutes="120" type="DY.Event.更新自定义错误页,DY.Event" enabled="true" is_system_event="true" />
    <Event key="采集文章发布" time_of_day="-1" minutes="2" type="DY.Event.采集文章发布,DY.Event" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>