<?xml version="1.0" encoding="utf-8" ?>
<rewriteRules>
  
  <!--商品规则-->
  <rewrite url="^~/goodscontrast/([^\.]+)/([^\.]+)(\..+?)?$" to="/goodscontrast.aspx?gid=$1&amp;cid=$2" processing="stop" />
  <rewrite url="^~/map/([^\.]+)(\..+?)?$" to="/map.aspx?id=$1" processing="stop" />
  <rewrite url="^~/map(\..+?)?$" to="/map.aspx" processing="stop" />
  
    <rewrite url="^~/product/search/(\d+)([^\.]+)(\..+?)?$" to="/goods.aspx?f=s&amp;k=$2&amp;cat_id=$1" processing="stop" />
    <rewrite url="^~/product/search/([^\.]+)(\..+?)?$" to="/goods.aspx?f=s&amp;k=$1" processing="stop" />

  
    <rewrite url="^~/product/detail/([^\.]+)(\..+?)?$" to="/goods-detail.aspx?code=$1" processing="stop" />
    <!--<rewrite url="^~/goods/([^\.]+)/or_([^\.]+)_p_([^\.]+)(\..+?)?$" to="/goods.aspx?code=$1&amp;order=$2&amp;page=$3" processing="stop" />
    <rewrite url="^~/goods/([^\.]+)/or_([^\.]+)(\..+?)?$" to="/goods.aspx?code=$1&amp;order=$2" processing="stop" />-->
    <rewrite url="^~/product/([^\.]+)/p([^\.]+)(\..+?)?$" to="/goods.aspx?code=$1&amp;page=$2" processing="stop" />
    <rewrite url="^~/product/([^\.]+)(\..+?)?$" to="/goods.aspx?code=$1" processing="stop" />
    <rewrite url="^~/product/p([^\.]+)(\..+?)?$" to="/goods.aspx?page=$1" processing="stop" />

    <!--cms规则-->
    <rewrite url="^~/article/search/([^\.]+)(\..+?)?$" to="/cms-search.aspx?k=$1" processing="stop" />
    <rewrite url="^~/article/detail/([^\.]+)(\..+?)?$" to="/cms-detail.aspx?code=$1" processing="stop" />
    <rewrite url="^~/article/([^\.]+)/p([^\.]+)(\..+?)?$" to="/cms.aspx?code=$1&amp;page=$2" processing="stop" />
    <rewrite url="^~/article/([^\.]+)(\..+?)?$" to="/cms.aspx?code=$1" processing="stop" />
  <!--download-->
  <rewrite url="^~/download/detail/([^\.]+)(\..+?)?$" to="/download-detail.aspx?code=$1" processing="stop" />
  <rewrite url="^~/download/([^\.]+)/p([^\.]+)(\..+?)?$" to="/download.aspx?code=$1&amp;page=$2" processing="stop" />
  <rewrite url="^~/download/([^\.]+)(\..+?)?$" to="/download.aspx?code=$1" processing="stop" />
    <!--购物车规则-->
    <rewrite url="^~/cart-([^\.]+)-([^\.]+)-([^\.]+)(\..+?)?$" to="/cart.aspx?act=$1&amp;goods_id=$2&amp;qty=$3" processing="stop" />
    <rewrite url="^~/cart(\..+?)?$" to="/cart.aspx" processing="stop" />
    <!--帮助中心规则-->
    <!--<if url="^/help/detail/">
        <rewrite url="^~/help/detail/([^\.]+)(\..+?)?$" to="/help/detail.aspx?code=$1" processing="stop" />
    </if>
    <rewrite url="^~/help/default" to="/help/default.aspx" processing="stop" />
    <rewrite url="^~/help/([^\.]+)(\..+?)?$" to="/help/default.aspx?code=$1" processing="stop" />-->
    
    <!--用户中心规则-->
    <rewrite url="^~/user(\..+?)?$" to="/user.aspx" processing="stop" />
    <rewrite url="^~/user-login(\..+?)?$" to="/user-login.aspx" processing="stop" />
    <rewrite url="^~/user/([^\.]+)/([^\.]+)-p([^\.]+)(\..+?)?$" to="/user.aspx?act=$1&amp;order_status=$2&amp;page=$3" processing="stop" />
    <rewrite url="^~/user/([^\.]+)-([^\.]+)-p([^\.]+)(\..+?)?$" to="/user.aspx?act=$1&amp;pay_status=$2&amp;page=$3" processing="stop" />
    <rewrite url="^~/user/([^\.]+)-p([^\.]+)(\..+?)?$" to="/user.aspx?act=$1&amp;page=$2" processing="stop" />
    <rewrite url="^~/user/([^\.]+)-show-id([^\.]+)(\..+?)?$" to="/user.aspx?act=$1&amp;id=$2" processing="stop" />
    <rewrite url="^~/user/([^\.]+)(\..+?)?$" to="/user.aspx?act=$1" processing="stop" />

  <!--用户收货地址规则-->
  <rewrite url="^~/delivery-([^\.]+)-([^\.]+)(\..+?)?$" to="/delivery.aspx?act=$1&amp;id=$2" processing="stop" />
  <rewrite url="^~/delivery-([^\.]+)(\..+?)?$" to="/delivery.aspx?act=$1" processing="stop" />


    <!--登录相关规则-->
    <rewrite url="^~/login/([^\.]+)/([^\.]+)(\..+?)?$" to="/login.aspx?act=$1&amp;openid=$2" processing="stop" />
    <rewrite url="^~/login/([^\.]+)(\..+?)?$" to="/login.aspx?act=$1" processing="stop" />

    <!--单页面规则-->
    <rewrite url="^~/page/([^\.]+)(\..+?)?$" to="/page.aspx?code=$1" processing="stop" />
    <rewrite url="^~/page/([^\.]+)-([^\.]+)(\..+?)?$" to="/page.aspx?code=$1&amp;alid=$2" processing="stop" />

    <!--品牌规则-->
    <!--
    <rewrite url="^~/brand/detail/([^\.]+)(\..+?)?$" to="/brand-detail.aspx?code=$1" processing="stop" />
    <rewrite url="^~/brand/goods/([^\.]+)(\..+?)?$" to="/brand-goods.aspx?code=$1" processing="stop" />
    <rewrite url="^~/brand/p([^\.]+)(\..+?)?$" to="/brand.aspx?page=$1" processing="stop" />-->

  <!--活动规则-->
  <rewrite url="^~/activities-([^\.]+)-([^\.]+)(\..+?)?$" to="/activities.aspx?code=$1&amp;aid=$2" processing="stop" />
  <!--购物车询价-->
  <rewrite url="^~/cart_inquiry-([^\.]+)-([^\.]+)-([^\.]+)(\..+?)?$" to="/cart_inquiry.aspx?act=$1&amp;goods_id=$2&amp;qty=$3" processing="stop" />
  <rewrite url="^~/cart_inquiry(\..+?)?$" to="/cart_inquiry.aspx" processing="stop" />
  <!--rss-->
  <rewrite url="^~/rss(\..+?)?$" to="/rss.aspx" processing="stop" />
  <!--错误页重写-->
  <rewrite url="^~/error/([^\.]+)(\..+?)?$" to="/error.aspx?act=$1" processing="stop" />

  <!--搜索-->
  <rewrite url="^~/search-([^\.]+)/([^\.]+)(\..+?)?$" to="/search.aspx?time=$1&amp;page=$2" processing="stop" />
  <rewrite url="^~/search-([^\.]+)(\..+?)?$" to="/search.aspx?time=$1" processing="stop" />
  <rewrite url="^~/search/([^\.]+)/([^\.]+)(\..+?)?$" to="/search.aspx?wd=$1&amp;page=$2" processing="stop" />
  <rewrite url="^~/search/([^\.]+)(\..+?)?$" to="/search.aspx?wd=$1" processing="stop" />
  <rewrite url="^~/search(\..+?)?$" to="/search.aspx" processing="stop" />

  <!--工具重写-->
  <rewrite url="^~/download_file/([^\.]+)(\..+?)?$" to="/tools/download_file.aspx?code=$1" processing="stop" />
  <rewrite url="^~/ajax/([^\.]+)(\..+?)?$" to="/tools/ajax.aspx?act=$1" processing="stop" />
  <rewrite url="^~/ad/([^\.]+)(\..+?)?$" to="/tools/ad.aspx?pid=$1" processing="stop" />
  <rewrite url="^~/form/([^\.]+)(\..+?)?$" to="/tools/form.aspx?pid=$1" processing="stop" />
  <rewrite url="^~/apistore/([^\.]+)/([^\.]+)/([^\.]+)/([^\.]+)(\..+?)?$" to="/tools/apistore.aspx?act=$1&amp;site=$2&amp;page=$3&amp;data=$4" processing="stop" />
  <rewrite url="^~/apistore/([^\.]+)/([^\.]+)/([^\.]+)(\..+?)?$" to="/tools/apistore.aspx?act=$1&amp;site=$2&amp;page=$3" processing="stop" />
  <rewrite url="^~/apistore/([^\.]+)/([^\.]+)(\..+?)?$" to="/tools/apistore.aspx?act=$1&amp;site=$2" processing="stop" />
  <rewrite url="^~/apistore/([^\.]+)(\..+?)?$" to="/tools/apistore.aspx?act=$1" processing="stop" />

  <!--滚动新闻重写-->
  <rewrite url="^~/news/detail/([^\.]+)(\..+?)?$" to="/news/detail.aspx?site=$1" processing="stop" />
  
  <rewrite url="^~/news/([^\.]+)/([^\.]+)(\..+?)?$" to="/news/index.aspx?site=$1&amp;page=$2" processing="stop" />
  <rewrite url="^~/news/([^\.]+)(\..+?)?$" to="/news/index.aspx?site=$1" processing="stop" />
  <rewrite url="^~/news(\..+?)?$" to="/news/index.aspx" processing="stop" />
</rewriteRules>
