<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="DY.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, DY.UrlRewriter" />
  </configSections>
  <!--url重写-->
  <rewriter file="~/config/url.config" />
  <!--网站设置-->
  <appSettings configSource="config\appsettings.config" />
  <!--数据库-->
  <connectionStrings configSource="config\data.config" />
  <system.web>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" enableVersionHeader="false" />
    <!---->
    <!-- 
            设置 compilation debug="true" 可将调试符号插入  
            已编译的页面中。但由于这会  
            影响性能，因此只在开发过程中将此值   
            设置为 true。 
        -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->

    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off">
    </customErrors>
    <httpModules>
      <add type="DY.UrlRewriter.RewriterHttpModule, DY.UrlRewriter" name="UrlRewriter" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="shtml-32-isapi" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
    </handlers>
    <!--响应头设置-->
    <httpProtocol>
      <customHeaders>
        <add name="ETag" value="&quot;&quot;" />
        <remove name="X-Powered-By" />
        <add name="X-Powered-By" value="EYOUC" />
        <remove name="Server" />
        <add name="Server" value="EUCWS" />
        <remove name="X-AspNet-Version" />
      </customHeaders>
    </httpProtocol>
    <!--响应头设置，必须安装重写插件http://blog.csdn.net/ghlfllz/article/details/48160235-->
    <rewrite>
      <rules>
        <rule name="301Redirect_wwweyouccom" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^eyouc.com$" />
          </conditions>
          <action type="Redirect" url="http://www.eyouc.com/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <!--自定义错误页面IIS7.5（配合全局CS文件生效）原理：iis设置自定义页面不存在，全局文件捕获状态在返回页面-->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/html/404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/html/500.aspx" responseMode="ExecuteURL" />
    </httpErrors>
<!--将OPTIONS方法禁用-->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="false">
          <add verb="GET" allowed="true"/>
          <add verb="POST" allowed="true"/>
          <add verb="HEAD" allowed="true"/>
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
  <!--webservice-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="emsServicesSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://119.145.9.12/services/emsServices" binding="basicHttpBinding" bindingConfiguration="emsServicesSoapBinding" contract="SMS.EmsServices" name="emsServices" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>